:root {
    --background-primary: #F4F5FB;
    --background-secondary: #FFFFFF;
    --color-brand: #CA3884;
    --color-brand-hover: #A52C6B;
    --color-danger: #C93847;
    --content-primary: #080B12;
    --content-secondary: #374151;
    --content-tertiary: #9CA3AF;
    --always-white: #FFFFFF;
    --border-primary: #D1D5DB;
    --border-hover: #B0C2D0;
}
* {
    box-sizing: border-box;
}
html { 
    margin: 0;
    font-size: 62.5%;
}
h2 {
    font-family: "Inter", sans-serif;
    font-weight: bold;
    color: var(--content-primary);
    font-size: 2.4rem;
}

